@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800|Lora);
/* COMMUNITY CSS */
/* This stylesheet was written in Sass and compiled locally */
/* line 10, ../scss/vendor/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 19, ../scss/vendor/_normalize.scss */
body {
  margin: 0; }

/* line 41, ../scss/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 52, ../scss/vendor/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 61, ../scss/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 71, ../scss/vendor/_normalize.scss */
[hidden],
template {
  display: none; }

/* line 79, ../scss/vendor/_normalize.scss */
a {
  background: transparent; }

/* line 87, ../scss/vendor/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 95, ../scss/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 103, ../scss/vendor/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 110, ../scss/vendor/_normalize.scss */
dfn {
  font-style: italic; }

/* line 118, ../scss/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0; }

/* line 126, ../scss/vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 134, ../scss/vendor/_normalize.scss */
small {
  font-size: 80%; }

/* line 142, ../scss/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 149, ../scss/vendor/_normalize.scss */
sup {
  top: -0.5em; }

/* line 153, ../scss/vendor/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 161, ../scss/vendor/_normalize.scss */
img {
  border: 0; }

/* line 167, ../scss/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 174, ../scss/vendor/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 180, ../scss/vendor/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 189, ../scss/vendor/_normalize.scss */
pre {
  overflow: auto; }

/* line 199, ../scss/vendor/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 218, ../scss/vendor/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 227, ../scss/vendor/_normalize.scss */
button {
  overflow: visible; }

/* line 238, ../scss/vendor/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 252, ../scss/vendor/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 261, ../scss/vendor/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 269, ../scss/vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 278, ../scss/vendor/_normalize.scss */
input {
  line-height: normal; }

/* line 290, ../scss/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 301, ../scss/vendor/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 310, ../scss/vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 323, ../scss/vendor/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 330, ../scss/vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 340, ../scss/vendor/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 348, ../scss/vendor/_normalize.scss */
textarea {
  overflow: auto; }

/* line 356, ../scss/vendor/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 364, ../scss/vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 370, ../scss/vendor/_normalize.scss */
td,
th {
  padding: 0; }

/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 134, ../scss/base/_config.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 179, ../scss/base/_config.scss */
.is-hidden {
  display: none; }

/* line 183, ../scss/base/_config.scss */
.fullwidth {
  width: 100%; }

/* line 192, ../scss/base/_config.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, ../scss/base/_containers.scss */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

/* line 14, ../scss/base/_containers.scss */
hr {
  border: 0;
  height: 1px;
  background: #d0d2d3;
  margin: 2rem 0 4rem 0; }

/* line 25, ../scss/base/_containers.scss */
body > header > section article,
body > main > section article,
body > footer > section article {
  *zoom: 1;
  max-width: 1025px;
  margin-left: auto;
  margin-right: auto;
  padding-right: .5em;
  padding-left: .5em; }
  /* line 18, ../scss/bourbon/addons/_clearfix.scss */
  body > header > section article:before, body > header > section article:after,
  body > main > section article:before,
  body > main > section article:after,
  body > footer > section article:before,
  body > footer > section article:after {
    content: " ";
    display: table; }
  /* line 23, ../scss/bourbon/addons/_clearfix.scss */
  body > header > section article:after,
  body > main > section article:after,
  body > footer > section article:after {
    clear: both; }
  @media screen and (min-width: 1020px) {
    /* line 25, ../scss/base/_containers.scss */
    body > header > section article,
    body > main > section article,
    body > footer > section article {
      padding-right: 0;
      padding-left: 0; } }
/* line 35, ../scss/base/_containers.scss */
body > header > section#footer,
body > main > section#footer,
body > footer > section#footer {
  *zoom: 1;
  max-width: 1025px;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, ../scss/bourbon/addons/_clearfix.scss */
  body > header > section#footer:before, body > header > section#footer:after,
  body > main > section#footer:before,
  body > main > section#footer:after,
  body > footer > section#footer:before,
  body > footer > section#footer:after {
    content: " ";
    display: table; }
  /* line 23, ../scss/bourbon/addons/_clearfix.scss */
  body > header > section#footer:after,
  body > main > section#footer:after,
  body > footer > section#footer:after {
    clear: both; }
  @media screen and (max-width: 480px) {
    /* line 35, ../scss/base/_containers.scss */
    body > header > section#footer,
    body > main > section#footer,
    body > footer > section#footer {
      padding-right: .5em;
      padding-left: .5em; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    /* line 35, ../scss/base/_containers.scss */
    body > header > section#footer,
    body > main > section#footer,
    body > footer > section#footer {
      padding-right: .5em;
      padding-left: .5em; } }

/* line 57, ../scss/base/_containers.scss */
section {
  *zoom: 1; }
  /* line 18, ../scss/bourbon/addons/_clearfix.scss */
  section:before, section:after {
    content: " ";
    display: table; }
  /* line 23, ../scss/bourbon/addons/_clearfix.scss */
  section:after {
    clear: both; }

/* line 23, ../scss/base/_typography.scss */
html {
  font-size: 100%; }

/* line 27, ../scss/base/_typography.scss */
body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Lora", serif;
  font-weight: 300;
  line-height: 1.5;
  color: #3f454f; }

/* line 42, ../scss/base/_typography.scss */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: 1.5rem; }

/* line 50, ../scss/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  text-rendering: optimizelegibility;
  color: #d0d2d3;
  font-family: "Open Sans", sans-serif;
  font-weight: 800; }
  /* line 56, ../scss/base/_typography.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

/* line 62, ../scss/base/_typography.scss */
h1, h2, h6, small {
  line-height: 1.2; }

/* line 66, ../scss/base/_typography.scss */
h3, h4, h5 {
  line-height: 1.3; }

@media screen and (max-width: 480px) {
  /* line 71, ../scss/base/_typography.scss */
  h1 {
    font-size: 32px;
    font-size: 2rem; } }
@media screen and (max-width: 768px) and (min-width: 481px) {
  /* line 71, ../scss/base/_typography.scss */
  h1 {
    font-size: 40px;
    font-size: 2.5rem; } }
@media screen and (min-width: 768px) {
  /* line 71, ../scss/base/_typography.scss */
  h1 {
    font-size: 48px;
    font-size: 3rem; } }

/* line 83, ../scss/base/_typography.scss */
h2 {
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    /* line 83, ../scss/base/_typography.scss */
    h2 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    /* line 83, ../scss/base/_typography.scss */
    h2 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (min-width: 768px) {
    /* line 83, ../scss/base/_typography.scss */
    h2 {
      font-size: 18px;
      font-size: 1.125rem; } }

/* line 97, ../scss/base/_typography.scss */
h3 {
  margin-bottom: .25em;
  margin-top: 0; }
  @media screen and (max-width: 480px) {
    /* line 97, ../scss/base/_typography.scss */
    h3 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    /* line 97, ../scss/base/_typography.scss */
    h3 {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media screen and (min-width: 768px) {
    /* line 97, ../scss/base/_typography.scss */
    h3 {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media screen and (min-width: 1020px) {
    /* line 97, ../scss/base/_typography.scss */
    h3 {
      font-size: 32px;
      font-size: 2rem;
      line-height: 2.9rem; } }

@media screen and (max-width: 480px) {
  /* line 115, ../scss/base/_typography.scss */
  h4 {
    font-size: 18px;
    font-size: 1.125rem; } }
@media screen and (max-width: 768px) and (min-width: 481px) {
  /* line 115, ../scss/base/_typography.scss */
  h4 {
    font-size: 21px;
    font-size: 1.3125rem; } }
@media screen and (min-width: 768px) {
  /* line 115, ../scss/base/_typography.scss */
  h4 {
    font-size: 22px;
    font-size: 1.375rem; } }

@media screen and (max-width: 480px) {
  /* line 127, ../scss/base/_typography.scss */
  p {
    font-size: 16px;
    font-size: 1rem; } }
@media screen and (max-width: 768px) and (min-width: 481px) {
  /* line 127, ../scss/base/_typography.scss */
  p {
    font-size: 18px;
    font-size: 1.125rem; } }
@media screen and (min-width: 768px) {
  /* line 127, ../scss/base/_typography.scss */
  p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75; } }

@media screen and (max-width: 480px) {
  /* line 141, ../scss/base/_typography.scss */
  .copyright,
  .contacts p {
    font-size: 12px;
    font-size: 0.75rem; } }
@media screen and (max-width: 768px) and (min-width: 481px) {
  /* line 141, ../scss/base/_typography.scss */
  .copyright,
  .contacts p {
    font-size: 12px;
    font-size: 0.75rem; } }
@media screen and (min-width: 768px) {
  /* line 141, ../scss/base/_typography.scss */
  .copyright,
  .contacts p {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.75; } }

/* line 156, ../scss/base/_typography.scss */
li, dt, dd {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .75em; }
  @media (min-width: 769px) {
    /* line 156, ../scss/base/_typography.scss */
    li, dt, dd {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media (min-width: 1020px) {
    /* line 156, ../scss/base/_typography.scss */
    li, dt, dd {
      font-size: 20px;
      font-size: 1.25rem;
      max-width: 40em;
      line-height: 1.75; } }

/* line 163, ../scss/base/_typography.scss */
input, label, select, textarea {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .75em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }
  @media (min-width: 769px) {
    /* line 163, ../scss/base/_typography.scss */
    input, label, select, textarea {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media (min-width: 1020px) {
    /* line 163, ../scss/base/_typography.scss */
    input, label, select, textarea {
      font-size: 20px;
      font-size: 1.25rem; } }

/* line 172, ../scss/base/_typography.scss */
small {
  font-size: 12px;
  font-size: 0.75rem; }
  @media (min-width: 769px) {
    /* line 172, ../scss/base/_typography.scss */
    small {
      font-size: 12px;
      font-size: 0.75rem; } }
  @media (min-width: 1020px) {
    /* line 172, ../scss/base/_typography.scss */
    small {
      font-size: 13px;
      font-size: 0.8125rem; } }

/* line 180, ../scss/base/_typography.scss */
b, strong {
  font-weight: 700; }

/* line 184, ../scss/base/_typography.scss */
i, em {
  font-style: italic; }

/* line 189, ../scss/base/_typography.scss */
blockquote {
  padding: 0 10% 0 0;
  margin: 1.5em 0; }
  /* line 192, ../scss/base/_typography.scss */
  blockquote p, blockquote li {
    color: #999999;
    font-style: italic; }

/* line 201, ../scss/base/_typography.scss */
code,
kbd,
pre,
samp {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-size: 1rem; }
  @media (min-width: 769px) {
    /* line 201, ../scss/base/_typography.scss */
    code,
    kbd,
    pre,
    samp {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media (min-width: 1020px) {
    /* line 201, ../scss/base/_typography.scss */
    code,
    kbd,
    pre,
    samp {
      font-size: 20px;
      font-size: 1.25rem; } }

/* line 208, ../scss/base/_typography.scss */
pre {
  padding: 1em 1.5em;
  margin: 1.5em 0;
  display: block;
  background: #e6e6e6;
  color: white; }

/* line 216, ../scss/base/_typography.scss */
a.button {
  display: inline-block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center; }
  /* line 75, ../scss/base/_mixins.scss */
  a.button:hover {
    background-color: white;
    color: #d0112b;
    border-color: #d0112b;
    border-width: 2px;
    border-style: solid; }

/* line 222, ../scss/base/_typography.scss */
#photos a.button,
#intro a.button {
  display: inline-block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  color: #d0112b;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  border-color: #d0112b;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center; }
  /* line 75, ../scss/base/_mixins.scss */
  #photos a.button:hover,
  #intro a.button:hover {
    background-color: white;
    color: #0077bd;
    border-color: #0077bd;
    border-width: 2px;
    border-style: solid; }
/* line 225, ../scss/base/_typography.scss */
#photos a#loadMore,
#intro a#loadMore {
  display: inline-block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  color: #0077bd;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  border-color: #0077bd;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center; }
  /* line 75, ../scss/base/_mixins.scss */
  #photos a#loadMore:hover,
  #intro a#loadMore:hover {
    background-color: #d0d2d3;
    color: #0077bd;
    border-color: #0077bd;
    border-width: 2px;
    border-style: solid; }

/* line 231, ../scss/base/_typography.scss */
section h2 {
  border-bottom-color: #d0d2d3;
  border-bottom-width: 2px;
  border-bottom-style: solid; }
  /* line 235, ../scss/base/_typography.scss */
  section h2 span {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%;
    background: white;
    margin-top: -9px; }
    /* line 41, ../scss/neat/grid/_span-columns.scss */
    section h2 span:last-child {
      margin-right: 0; }

/* line 41, ../scss/base/_mixins.scss */
a,
a:link {
  border: none;
  color: #898e94;
  font-weight: normal;
  text-decoration: none; }

/* line 47, ../scss/base/_mixins.scss */
a:visited {
  border: none;
  color: #6f747b;
  text-decoration: none; }

/* line 52, ../scss/base/_mixins.scss */
a:hover {
  border: none;
  color: #898e94;
  text-decoration: none; }

/* line 20, ../scss/base/_header.scss */
body > header {
  background: url(../images/header.jpg) no-repeat;
  background-size: 100%;
  *zoom: 1;
  min-height: 31.875em; }
  @media screen and (max-width: 480px) {
    /* line 20, ../scss/base/_header.scss */
    body > header {
      background-position: 0 11.375em; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    /* line 20, ../scss/base/_header.scss */
    body > header {
      background-position: 0 9.5em; } }
  @media screen and (min-width: 768px) {
    /* line 20, ../scss/base/_header.scss */
    body > header {
      background-position: top center;
      max-height: 510px;
      overflow: hidden; } }
  /* line 18, ../scss/bourbon/addons/_clearfix.scss */
  body > header:before, body > header:after {
    content: " ";
    display: table; }
  /* line 23, ../scss/bourbon/addons/_clearfix.scss */
  body > header:after {
    clear: both; }
  /* line 41, ../scss/base/_header.scss */
  body > header section {
    position: relative; }
  /* line 44, ../scss/base/_header.scss */
  body > header img {
    width: 100%;
    height: auto; }
  @media screen and (max-width: 480px) {
    /* line 48, ../scss/base/_header.scss */
    body > header h3 {
      color: #0077bd;
      font-family: "Lora", serif;
      text-align: center;
      height: 11.375em;
      padding: 1.1em; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    /* line 48, ../scss/base/_header.scss */
    body > header h3 {
      color: #0077bd;
      font-family: "Lora", serif;
      text-align: center;
      height: 7.5em;
      padding: 1em; } }
  @media screen and (min-width: 768px) {
    /* line 48, ../scss/base/_header.scss */
    body > header h3 {
      width: 40%;
      position: absolute;
      top: 2em;
      right: 2em;
      color: white;
      font-family: "Open Sans", sans-serif;
      text-align: left;
      height: auto; } }

/* line 77, ../scss/base/_header.scss */
.header {
  display: block;
  min-height: 100px; }

/* line 3, ../scss/base/_footer.scss */
body > footer {
  background: #3f454f;
  font-family: "Open Sans", sans-serif;
  color: #6f747b;
  font-weight: 800;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  /* line 12, ../scss/base/_footer.scss */
  body > footer a {
    text-transform: uppercase;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all; }
  /* line 17, ../scss/base/_footer.scss */
  body > footer div {
    *zoom: 1; }
    /* line 18, ../scss/bourbon/addons/_clearfix.scss */
    body > footer div:before, body > footer div:after {
      content: " ";
      display: table; }
    /* line 23, ../scss/bourbon/addons/_clearfix.scss */
    body > footer div:after {
      clear: both; }
    /* line 19, ../scss/base/_footer.scss */
    body > footer div.footer-nav {
      margin: 18px 0; }
      /* line 21, ../scss/base/_footer.scss */
      body > footer div.footer-nav a {
        font-weight: 800; }
  /* line 26, ../scss/base/_footer.scss */
  body > footer ul li {
    font-weight: 300; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      /* line 26, ../scss/base/_footer.scss */
      body > footer ul li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        /* line 41, ../scss/neat/grid/_span-columns.scss */
        body > footer ul li:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 768px) {
      /* line 26, ../scss/base/_footer.scss */
      body > footer ul li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%; }
        /* line 41, ../scss/neat/grid/_span-columns.scss */
        body > footer ul li:last-child {
          margin-right: 0; }
        /* line 70, ../scss/neat/grid/_omega.scss */
        body > footer ul li:nth-child(3n) {
          margin-right: 0; }
        /* line 75, ../scss/neat/grid/_omega.scss */
        body > footer ul li:nth-child(3n+1) {
          clear: left; } }
    /* line 35, ../scss/base/_footer.scss */
    body > footer ul li strong {
      font-weight: 800; }
    /* line 40, ../scss/base/_footer.scss */
    body > footer ul li p:first-child {
      margin-bottom: 0; }
    /* line 44, ../scss/base/_footer.scss */
    body > footer ul li p + p {
      margin-bottom: 0; }
    /* line 47, ../scss/base/_footer.scss */
    body > footer ul li a {
      text-transform: none;
      font-weight: 300; }

/* line 3, ../scss/base/_content.scss */
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-align: center; }
  /* line 5, ../scss/base/_mixins.scss */
  ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px; }
  /* line 8, ../scss/base/_content.scss */
  ul img {
    width: 100%;
    height: auto; }

/* line 14, ../scss/base/_content.scss */
section#intro {
  *zoom: 1;
  padding-top: 0;
  padding-bottom: 50px; }
  /* line 18, ../scss/bourbon/addons/_clearfix.scss */
  section#intro:before, section#intro:after {
    content: " ";
    display: table; }
  /* line 23, ../scss/bourbon/addons/_clearfix.scss */
  section#intro:after {
    clear: both; }
  @media screen and (max-width: 480px) {
    /* line 14, ../scss/base/_content.scss */
    section#intro {
      padding-top: 0; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    /* line 14, ../scss/base/_content.scss */
    section#intro {
      padding-top: 0; } }
  @media screen and (min-width: 768px) {
    /* line 14, ../scss/base/_content.scss */
    section#intro {
      padding-top: 60px; } }
  /* line 30, ../scss/base/_content.scss */
  section#intro article {
    text-align: center; }
    /* line 32, ../scss/base/_content.scss */
    section#intro article p {
      margin-bottom: 40px; }
      /* line 34, ../scss/base/_content.scss */
      section#intro article p:nth-child(2) {
        color: #d0112b; }

/* line 41, ../scss/base/_content.scss */
section#order {
  padding-top: 70px;
  padding-bottom: 54px;
  background: #0077bd; }
  /* line 45, ../scss/base/_content.scss */
  section#order p {
    text-align: center;
    color: white; }
  /* line 49, ../scss/base/_content.scss */
  section#order .images {
    text-align: center; }
    @media screen and (max-width: 480px) {
      /* line 49, ../scss/base/_content.scss */
      section#order .images {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        /* line 41, ../scss/neat/grid/_span-columns.scss */
        section#order .images:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      /* line 49, ../scss/base/_content.scss */
      section#order .images {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        /* line 41, ../scss/neat/grid/_span-columns.scss */
        section#order .images:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 768px) {
      /* line 49, ../scss/base/_content.scss */
      section#order .images {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        /* line 41, ../scss/neat/grid/_span-columns.scss */
        section#order .images:last-child {
          margin-right: 0; } }
    /* line 64, ../scss/base/_content.scss */
    section#order .images figure {
      margin-bottom: 8%; }
      /* line 66, ../scss/base/_content.scss */
      section#order .images figure img {
        width: 100%;
        max-width: 547px;
        height: auto; }
    /* line 72, ../scss/base/_content.scss */
    section#order .images div.caption {
      text-align: center;
      width: 48%;
      display: inline-block;
      font-size: 18px;
      font-size: 1.125rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      color: #001689; }

/* line 86, ../scss/base/_content.scss */
section#partners {
  padding-top: 70px; }
  @media screen and (max-width: 480px) {
    /* line 86, ../scss/base/_content.scss */
    section#partners {
      padding-top: 30px; } }
  /* line 91, ../scss/base/_content.scss */
  section#partners ul.partners {
    *zoom: 1;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    padding-top: 12px; }
    /* line 18, ../scss/bourbon/addons/_clearfix.scss */
    section#partners ul.partners:before, section#partners ul.partners:after {
      content: " ";
      display: table; }
    /* line 23, ../scss/bourbon/addons/_clearfix.scss */
    section#partners ul.partners:after {
      clear: both; }
    /* line 41, ../scss/neat/grid/_span-columns.scss */
    section#partners ul.partners:last-child {
      margin-right: 0; }
    /* line 95, ../scss/base/_content.scss */
    section#partners ul.partners li {
      height: 142px;
      line-height: 142px; }
      @media screen and (max-width: 480px) {
        /* line 95, ../scss/base/_content.scss */
        section#partners ul.partners li {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 100%;
          height: 110%;
          line-height: 110%;
          padding-bottom: 1.875em; }
          /* line 41, ../scss/neat/grid/_span-columns.scss */
          section#partners ul.partners li:last-child {
            margin-right: 0; }
          /* line 105, ../scss/base/_content.scss */
          section#partners ul.partners li:last-child {
            padding-bottom: 0; } }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        /* line 95, ../scss/base/_content.scss */
        section#partners ul.partners li {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 48.82117%; }
          /* line 41, ../scss/neat/grid/_span-columns.scss */
          section#partners ul.partners li:last-child {
            margin-right: 0; }
          /* line 70, ../scss/neat/grid/_omega.scss */
          section#partners ul.partners li:nth-child(2n) {
            margin-right: 0; }
          /* line 75, ../scss/neat/grid/_omega.scss */
          section#partners ul.partners li:nth-child(2n+1) {
            clear: left; } }
      @media screen and (min-width: 768px) {
        /* line 95, ../scss/base/_content.scss */
        section#partners ul.partners li {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 23.23176%; }
          /* line 41, ../scss/neat/grid/_span-columns.scss */
          section#partners ul.partners li:last-child {
            margin-right: 0; }
          /* line 70, ../scss/neat/grid/_omega.scss */
          section#partners ul.partners li:nth-child(4n) {
            margin-right: 0; }
          /* line 75, ../scss/neat/grid/_omega.scss */
          section#partners ul.partners li:nth-child(4n+1) {
            clear: left; } }
      /* line 118, ../scss/base/_content.scss */
      section#partners ul.partners li img {
        width: 100%;
        height: auto;
        vertical-align: middle; }
        /* line 124, ../scss/base/_content.scss */
        section#partners ul.partners li img.bfmw {
          max-width: 142px; }
        /* line 127, ../scss/base/_content.scss */
        section#partners ul.partners li img.msa {
          max-width: 195px; }
        /* line 130, ../scss/base/_content.scss */
        section#partners ul.partners li img.scap {
          max-width: 214px; }
        /* line 133, ../scss/base/_content.scss */
        section#partners ul.partners li img.ug {
          max-width: 200px; }

/* line 142, ../scss/base/_content.scss */
section#photos {
  text-align: center;
  padding-bottom: 82px; }
  /* line 145, ../scss/base/_content.scss */
  section#photos ul {
    *zoom: 1;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 0; }
    /* line 18, ../scss/bourbon/addons/_clearfix.scss */
    section#photos ul:before, section#photos ul:after {
      content: " ";
      display: table; }
    /* line 23, ../scss/bourbon/addons/_clearfix.scss */
    section#photos ul:after {
      clear: both; }
    @media screen and (max-width: 480px) {
      /* line 150, ../scss/base/_content.scss */
      section#photos ul li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        /* line 41, ../scss/neat/grid/_span-columns.scss */
        section#photos ul li:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      /* line 150, ../scss/base/_content.scss */
      section#photos ul li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 48.82117%; }
        /* line 41, ../scss/neat/grid/_span-columns.scss */
        section#photos ul li:last-child {
          margin-right: 0; }
        /* line 70, ../scss/neat/grid/_omega.scss */
        section#photos ul li:nth-child(2n) {
          margin-right: 0; }
        /* line 75, ../scss/neat/grid/_omega.scss */
        section#photos ul li:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) {
      /* line 150, ../scss/base/_content.scss */
      section#photos ul li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%; }
        /* line 41, ../scss/neat/grid/_span-columns.scss */
        section#photos ul li:last-child {
          margin-right: 0; }
        /* line 70, ../scss/neat/grid/_omega.scss */
        section#photos ul li:nth-child(3n) {
          margin-right: 0; }
        /* line 75, ../scss/neat/grid/_omega.scss */
        section#photos ul li:nth-child(3n+1) {
          clear: left; } }
    /* line 162, ../scss/base/_content.scss */
    section#photos ul li.hidden {
      display: none; }
