// FOOTER

body>footer {
    background: $gray4;
    font-family: $sans;
    color: $anchor-color;
    font-weight: 800;
    padding-top: em(50);
    padding-bottom: em(50);
    text-align: center;

    a {
        text-transform: uppercase;
        @include word-wrap;
    }
    h4 {
        @include clearfix;
        &.footer-nav {
            margin: 18px 0;
            font-weight: 800;
            text-transform: uppercase;
            color: $anchor-color;
        }        
    }
    ul li {
      @include media($tablet) {
        @include span-columns(12);
      }
      @include media($desktop) {
        @include span-columns(4);
        @include omega(3n);
      }
        font-weight: 300;
        strong {
            font-weight: 800;
        }
        p {

            &:first-child {
                margin-bottom: 0;
            }
        }
        p+p {
            margin-bottom: 0;
        }
        a {
            text-transform: none;
            font-weight: 300;
        }
    }

    .copyright {
        color: darken($anchor-color, 25%);
        font-weight: 300;
    }

    @include standard-links($hcolor: lighten($anchor-color,20%));
}
