// HEADER

$imageheight: em(510);
$imagewidth: em(1020);

// Tagline height
$tagline-large: 0;
$tagline-desktop: 0;
$tagline-tablet: em(120);
$tagline-mobile: em(150);

// Header heights
$header-large: $imageheight;
$header-desktop: $imageheight;
// Attempt to set height proportionate to screen width for breakpoint
$header-tablet: (($desktopscreen/$imagewidth)*$imageheight)+$tagline-tablet;
// Attempt to set height proportionate to screen width for breakpoint
$header-mobile:  (($mobilescreen/$imagewidth)*$imageheight)+$tagline-mobile;

body>header {
	background: url(../images/header.jpg) no-repeat;
	background-size: 100%;

	@include media($mobile) {
		background-position: 0 $tagline-mobile + 2;
	}
	@include media($tablet) {
		background-position: 0 $tagline-tablet + 2;
	}

	@include media($desktop) {
		// background-size: 100%;
		background-position: 0 $tagline-mobile;
	}
	@include media($large) {
		// background-size: 100%;
		background-position: top center;
	}

	@include clearfix;
	min-height: $imageheight;
	
	section {
		position: relative;
	}
	img {
		width: 100%;
		height: auto;
	}
	h3 {
		@include media($mobile) {
			color: $blue;
			font-family: $lora;
			text-align: center;
			height: $tagline-mobile + 2;
			padding: 1.1em;
		}
		@include media($tablet) {
			color: $blue;
			font-family: $lora;
			text-align: center;
			height: $tagline-tablet;
			padding: 1em;
		}
		@include media($desktop) {
			position: inherit;
			color: $blue;
			font-family: $lora;
			text-align: center;
			height: $tagline-tablet;
			padding: 1.2em;
		}
		@include media($large) {
			width: 40%;
			position: absolute;
			top: 2em;
			right: 2em;
			color: $white;
			font-family: $sans;
			text-align: left;
			height: auto;
		}
	}
}

.header {
	display: block;
	min-height: 100px;
}
