
body.order-form {
  header.header {
    text-align: center;
    background: none;
    img {
      width: 100%;
      height: auto;
      max-width: em(1020);
    }
    h3 {
      padding-top: em(20);
      font-family: $lora !important;
      color: $red;
    }
  }
  section#intro {
      article {
        font-family: $lora !important;
        color: $gray4;
        .salsa {
          margin: 0;
        }
      h3 {
        font-family: $lora !important;
        color: $gray4;
        padding-bottom: em(20);
        @include media($mobile) {
          @include font-size($h3-size-s);
        }
        @include media($desktop) {
          @include font-size($body-size-l);
        }
      }
      h2 {
        display: none;
      }
      p {
        font-size: $body-size-s;
        text-align: left;
        margin: 0;
        &.required-note {
          @include media($mobile) {
            margin: 10px 10px 0 10px;
          }
          @include media($tablet) {
            margin: 10px 10px 0 10px;
          }
          @include media($desktop) {
            margin: 10px 40px 0 40px;
          }  
          font-family: $sans !important;
          @include font-size($small-size-l);
        }
      }
      ul {
        li {
          max-width: 100%;
          list-style-type: square;
          list-style-position: inside;
          text-align: left;
          font-size: em(16);
          @include font-size($body-size-s);
        }
      }
      @include standard-links ($color: $red, $vcolor: $red, $hcolor: $blue, $weight: normal);

      .required-note,
      .required,
      .error {
        color: $red;
      }
      .required-note {
        b {
          color: $gray4;
        }
      }
      .error {
        background: lighten($red, 50%);
        @include media($mobile) {
          margin: 10px 10px 0 10px;
          padding: em(10);
          @include font-size($h3-size-s);
        }
        @include media($tablet) {
          margin: 10px 10px 0 10px;
          padding: em(10);
          @include font-size($body-size-l);
        }
        @include media($desktop) {
          margin: 10px 40px 0 40px;
          padding: em(20);
          @include font-size($body-size-l);
        }  
          margin-top: em(10);
          text-align: left;
          font-weight: bold;
          font-family: $sans !important;
        li {
          margin-bottom: 0;
          list-style-type: square;
          list-style-position: inside;
          text-align: left;
          @include font-size($small-size-s);
          &:first-child {
            margin-top: em(10);
          }
        }
      }
      .supporterInfo {}
      .diaFields,
      .formRow {
        text-align: left;
        font-family: $sans !important;
        label {
          @include font-size($small-size-l);
          font-weight: bold;
          display: block;
        }
        input {}
        input[type='text'],
        select.blockInput,
        input.blockInput,
        .stateSelect select,
        .stateSelect option,
        .blockInput option {
          @include font-size($small-size-l);
          color: $gray8;
        }
        input[type='submit'] {
          @include button($bordercolor: $red, $hovercolor: $blue, $hoverbackground: $white, $hoverborder: $blue);
          margin: em(15) auto;
        }
      }
      .supporterInfo {
        @include media($mobile) {
           margin: 0 em(10);
        }
        @include media($tablet) {
          margin: 0 em(10);
        }
        @include media($desktop) {
           margin: 0 em(40);
        }  

      }
      p#jQ-uid-3 {
        display: none;
      }
    }
  }

  section#partners {
    li {
      @include media($mobile) {
        @include span-columns(12);
        height: auto;
        line-height: auto;
        padding-bottom: em(30);

          &:last-child {
            padding-bottom: 0;
          }
      }
    }
  }

  // Badge display styles
  pre {
    @include span-columns(12);
    overflow: hidden;
    textarea {
      @include span-columns(8);
      font-family: monospace;
      font-size: em(11);
      width: 50%;
      min-width: em(350);
      height: em(200);
    }
  }

}