
body.order-form {
  header.header {
    text-align: center;
    background: none;
    img {
      width: 100%;
      height: auto;
      max-width: em(1020);
    }
    h3 {
      padding-top: em(20);
      font-family: $lora !important;
      color: $red;
    }
  }
  section#intro {
      h3 {
        font-family: $lora !important;
        color: $gray4;
        padding-bottom: em(20);
        @include media($mobile) {
          font-size: 1.125rem;
        }
        @include media($desktop) {
          font-size: em(28);
        }
      }
      article {
      font-family: $lora !important;
      color: $gray4;
      
      h2 {
        display: none;
      }
      p {
        font-size: $body-size-s;
      }
      .diaFields,
      .formRow {
        text-align: left;
        font-family: $sans !important;
      }
      p#jQ-uid-3 {
        display: none;
      }
    }
  }

  section#partners {
    li {
      @include media($mobile) {
        @include span-columns(12);
        height: auto;
        line-height: auto;
        padding-bottom: em(30);

          &:last-child {
            padding-bottom: 0;
          }
      }
    }
  }
}

// .order-form main.content section#intro article div.salsa form h3 {
//   color: red;
//   font-size: em(28);
//         @include media($mobile) {
//           font-size: $h3-size-s !important;
//         }
//         @include media($desktop) {
//           font-size: $h3-size-m !important;
//         }
// }
